body{
  background-color: pink;
  text-align: center;
 
  
}

.btn{
  border-radius: 50px;
}

.box{
  height: 100px;
  width: 100px;
  border:1px solid black;
  margin-top: 10px;
  border-radius: 3px;
  /* display: inline; */
}